background-color: 103,67,45;

h1{
    font-family: Comic Sans MS 
    
}
h3{
    font-family: Comic Sans MS 
    
}
li{
    font-family: YuMincho
}
h1{
    text-align: center
}
h3{
    text-align: center
}
li{
    text-align: center
}
ul{
    list-style-type: none
}
