background-color: brown




h1{
    font-family: Comic Sans MS
}
h3{
    font-family: Comic Sans MS 
    
}
li{
    font-family: YuMincho
}
h1{
    text-align: center
}
h3{
    text-align: center
}
li{
    list-style-position:inside;
}
ul{
    text-align: center
}

